*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
}
.bts{
    width: 90%;
    height: 90vh;
    position:inherit;
    background:url(img/bg1.jpg);
    background-size: cover;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 85px;
}
.logo{
    max-height: 70px;
}
nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: #3232d1;
    position: relative;
    padding: 7px 0;
}
nav ul li a:hover{
    color: #a7d232;
}
nav ul li a:after{
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 4px;
    background: #362e7e;
    transition: .4s;
    bottom: 0;
}
nav ul li a:hover:after{
    width: 95%;
}
.cat{
    color: #f139ca;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 3px;
    padding: 15px 30px;
    border-radius: 500px;
    display :inline-block;
    font-weight: 490;
    transition: all .30s ease-in-out;
    background-size: 130% 90%;
    background: #fd4;
    border: 3px solid #fd4766;
}
.cat:hover{
    background: transparent;
    border-color: #9c3be1;
    color: #fd4766;
    position: relative;
}
.content{
    position: absolute;
    top: 40%;
    left: 9%;
}
.content .header{
    color: #e3dd2d;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: inline-block;
    margin-bottom: 25px;
    background: linear-gradient(120deg, #1c99fe 20.69%, #10c7e7 50.19%,#fd4766 79.69%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content h1{
    color: #1f1f25;
    font-size: 80px;
    font-weight: 910;
    line-height: 93px;
    text-transform: inherit;
    width: 75%;
}
.content h1 span{
    color: #f212dc;
}
.content p{
    width: 55%;
    color: #c6d00e;
    margin-top: 23px;
    margin-bottom: 25px;
}